@charset "UTF-8";
.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 99;
  color: #fff;
}
.header .logo a {
  position: absolute;
  height: 100px;
  display: flex;
  align-items: center;
  /* outline: 1px solid #f00; */
  padding-left: 50px;
  padding-right: 50px;
}
.header .logo img {
  width: 40%; /* 이미지의 폭을 조정 */
  height: auto; /* 이미지의 높이를 자동으로 조정하여 가로 세로 비율 유지 */
}
.header .gnb .list {
  display: flex;
}
.header .gnb .list > li {
  border-radius: 0px 0px 20px 20px;
  padding-bottom: 30px;
}
.header .gnb .list > li:hover {
  padding-bottom: 30px;
}
.header .gnb .list > li:hover .depth01:after {
  transform: scaleX(1);
}
.header .gnb .list .depth01 {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 500;
  padding: 0 25px;
  position: relative;
}