.main-visual video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  /* viewport height 디바이스 길이*/
}

.business .list {
  display: flex;
  color: #111;
  li {
    width: 25%;
    .img-box {
      display: none;
    }
  }
}
