.main {
  &-visual video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    /* viewport height 디바이스 길이*/
  }
}
.business .list {
  display: flex;
  color: #111;
  li {
    width: 25%; //through 작거나 같다 / to 크거나 같다
    @for $i from 1 through 4 {
      // 보관(interpolation)
      &:nth-child(#{$i}) a:before {
        background-image: url("../images/main/main_business_icon0#{$i}.png");
      }
    }
    // &:nth-child(1) a:before {
    //   background-image: url("../images/main/main_business_icon01.png");
    // }
    // &:nth-child(2) a:before {
    //   background-image: url("../images/main/main_business_icon02.png");
    // }
    // &:nth-child(3) a:before {
    //   background-image: url("../images/main/main_business_icon03.png");
    // }
    // &:nth-child(4) a:before {
    //   background-image: url("../images/main/main_business_icon04.png");
    // }
    a {
      font-size: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center; //정렬
      align-items: center; //글자를 가운데
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100px;
        // background-color: #ccc;
        background-repeat: no-repeat;
        background-position: 50% 0;
      }
      //column-reverse 반전
    }
    .img-box {
      //display: none;
      .txt {
        position: absolute;
        color: #fff;
      }
    }
  }
}
