.main {
  &-visual video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    /* viewport height 디바이스 길이*/
  }
}
.business {
  padding: 150px 0;

  .list {
    display: flex;
    color: #111;
    li {
      width: 25%;
      position: relative;
      &:hover {
        .img-box {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
    //through 작거나 같다 / to 크거나 같다
    @for $i from 1 through 4 {
      // 보관(interpolation)
      &:nth-child(#{$i}) a:before {
        background-image: url("../images/main/main_business_icon0#{$i}.png");
      }
    }
    // &:nth-child(1) a:before {
    //   background-image: url("../images/main/main_business_icon01.png");
    // }
    // &:nth-child(2) a:before {
    //   background-image: url("../images/main/main_business_icon02.png");
    // }
    // &:nth-child(3) a:before {
    //   background-image: url("../images/main/main_business_icon03.png");
    // }
    // &:nth-child(4) a:before {
    //   background-image: url("../images/main/main_business_icon04.png");
    // }
    a {
      font-size: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center; //정렬
      align-items: center; //글자를 가운데
      //   outline: 1px solid #ff0000;
      aspect-ratio: 1 / 1.3;
      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100px;
        // background-color: #ccc;
        background-repeat: no-repeat;
        background-position: 50% 0;
      }
      //column-reverse 반전
    }
    .img-box {
      //display: none;
      pointer-events: none;
      //특정 아이템위에 이벤트가 발생하면 일어나야할 행위를 함수로 점의해 놓는다.
      //그리고 사용자가 그 이벤트를 발생 시키면 함수가 실행된다.
      opacity: 0;
      transform: translateY(100px);
      position: absolute;
      top: 0;
      transition: all 0.25s ease;
      .txt {
        position: absolute;
        color: #fff;
        text-align: center;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.5;
        h3 {
          font-size: (24px + 4px);
          font-weight: 500;
          // margin: {
          //     left: 20px;
          //      top: 20px;
          // }
          //   font: {
          //     size: (24px + 4px);
          //     weight: 500;
          //   }
          margin-bottom: 20px;
        }
      }
      img {
        width: 100%;
      }
    }
  }
}
