// _넣으면 css가 생성되지않음

// $bg-color: #f7f8f9;
// $line-color: #e5e5e5;
// $mzd-black-color: #141414;
// $mzd-black-color-2: #333333;
// $mzd-black-color-3: #666666;
// $mzd-black-color-4: #999999;
// $mzd-black-color-5: #cccccc;
// $mzd-black-color-6: #ffffff;
// $mzd-blue-color: #0b7bff;
// $main-font-family: pretendard, sans-serif;
// $sub-font-family: "Inter", sans-serif;
// $font-weigth-regular: 400;
// $font-weigth-semi-bold: 600;
// $font-weigth-bold: 700;
// $page-max-width: 1430px;
// $header-height: 120px;
// $header-height-fixed: 80px;
// $header-height-big: 1080px;
// $slider-image-width: 1160px;
// $content-slide-width: 315px;
// $news-single-news-height: 248px;
// _넣으면 css가 생성되지않음
$main-color: #0b7bff;
$sub-color: rgb(0, 184, 216);
$bg-color: #f7f8f9;
$gray: #dcdce1;

$h1: 48px;
$h2: 36px;
$h3: 24px;
$h4: 20px;
